.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  margin: 0 auto;
  align-items: center;
  /* font-weight: bold ; */
}
.button {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid blue;
  margin: 2px;
  border-radius: 6px;
  width: 100px;
  height: 32px;
}
.list-div {
   background-color: LightGreen;
  margin: 4px;
  border-top-right-radius: 7px;
  height: 32px;
  padding: 5px;
  font-size: large;
}